flask
python-dotenv


Flask==3.0.1
Flask-SQLAlchemy==3.0.0

from pathlib import Path
from dotenv import load_dotenv

env_path = Path('/') / '.env'
load_dotenv(dotenv_path=env_path)

# Activate the virtual environment
activate_this = Path('/') / 'venv/bin/activate_this.py'
exec(open(activate_this).read(), {'__file__': activate_this})
